<h1><%= @photo.photo_url %></h1>
<p><img class="vintage" src=<%= @photo.photo_url %>>
<script>
$(function () {
    $('img.vintage').click(function () {
        $(this).vintage();
    });
});
</script>
