<h1><%= @photo.photo_url %></h1>
<p><img class="image" src=<%= @photo.photo_url %> data-camanheight="500">
<p><tr>
  <td><button id="xxpro">xxpro</button></td>
  <td><button id="toasty">toasty</button></td>
  <td><button id="memphis">memphis</button></td>
  <td><button id="apply">Save</button></td>
</tr>
