<p>
<img class="image" src='https://www.filepicker.io/api/file/BM1EH6yR8WKdLLQD1lmO' data-camanheight="500">
<p>
<tr>
  <td><button id="sunrise">Sunrise</button></td>
  <td><button id="jarques">Jarques</button></td>
  <td><button id="concentrate">Concentrate</button></td>
</tr>
