<div id="filter-preview">
  <img class='image-clone' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <img class='image' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <div id="filter-buttons"></div>
    <button class='action' id='original'>original</button>
    <button class='action filter' id='xxpro'>xxpro</button>
    <button class='action filter' id='toasty'>toasty</button>
    <button class='action filter' id='memphis'>memphis</button>
    <button class='action filter' id='colt'>colt</button>
    <button class='action filter' id='domo'>domo</button>
    <button class='action filter' id='arkham'>arkham</button>
    <button class='action' id='save-button'>Save</button>
  <div id="processing"><%= image_tag "processing.gif" %></div>
</div>
