<div id="filter-preview">
  <img class='image-clone' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <img class='image' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <div id="filter-buttons"></div>
</div>
