<div id="filter-preview">
  <img class='image-clone' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <img class='image' crossorigin='anonymous' data-camanheight='450' src=<%= @photo.url%>>
  <div id="filter-buttons"></div>
    <button class='filter' id='original'>original</button>
    <button class='filter' id='xxpro'>xxpro</button>
    <button class='filter' id='toasty'>toasty</button>
    <button class='filter' id='memphis'>memphis</button>
    <button class='filter' id='colt'>colt</button>
    <button class='filter' id='domo'>domo</button>
    <button class='filter' id='arkham'>arkham</button>
    <button class='filter' id='save-button'>Save</button>
</div>
