<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<button id='upload'>Upload</button>
<div id='container'></div>

<!--  $.ajax( {
      type: 'POST',
      url: 'http://localhost:3000/queries',
      dataType: 'json',
      data: { name: name },
      complete: function(json, status) {
        Query.populateData(json.responseText);
      }
    }); -->
